
/* INCORPORA FONTE OPEN SANS E FIRA MONO */

@import url(http://fonts.googleapis.com/css?family=Fira+Mono:400,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300,300italic,400italic,600italic&subset=latin,latin-ext);

body { font-family:"Open Sans","Arial","Fira Sans";font-size:12px;color:white;margin:0 auto;background-color:#262626;font-weight:300; }
ul { list-style:none;margin-top:0px;margin-left:-40px;margin-bottom:0px; }h3 { margin-top:0px; }p { margin-top:0px; margin-bottom:5px; }
textarea { border:1px solid rgba(0,0,0,0.3);background-color:#26251F;color:#FFF; }
table {  }
button { border:1px solid rgba(0,0,0,0.3);background-color:#662D37;color:#FFF;height:25px; }
select { border:1px solid rgba(0,0,0,0.3);background-color:#26251F;color:#FFF;width: 186px;padding: 2px;font-size: 14px;height: 24px;-moz-appearance:none;-webkit-appearance: none; }
option {padding:5px;}
td { margin-top:0px; }
a:link { color:white;text-decoration:none; }
a:visited { color:white; }
a:hover { color:yellow; }

.buttonSave {border-radius: 0px;
	width: 186px;
	height: 35px;
	margin-top: 5px;
	margin-right: 0px;
	border: 1px solid rgb(32, 29, 29);
}
.TDD_OBSERVACAO_ASSISTENCIA {
	padding:10px;
	border:0px;
	width:961px;
	min-height:280px;
	color: #B9B4B0;
	background-color: #222;
	font-family: "Arial" !important;
}

hr { background-color:rgba(0,0,0,0.1);margin-left:0px;margin-right:0px;	padding:0.05em;border:0px; }
#BASE { margin:0 auto;padding-top:65px;padding-left:10px;padding-right:10px;width:984px; }
#FIXADO { margin:0px;position:fixed;background-color:#AE0D3A;width:100%;border-bottom:1px solid #363636; }
#TOPO { font-family:"Open Sans","Arial";margin:0 auto;padding-top:18px;padding-bottom:18px;padding-left:10px;padding-right:10px;width:984px;height:15px; }
#MEIO { clear:both; }

#CONTEUDO { clear:both;width:984px;-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius:0px;padding: 0px 0px 10px 0px;margin-bottom:10px;min-height:50px; }
#DIREITA { margin-left:10px;width:152px;float:right; }
#LINHA { height:25px;margin-bottom:10px;background-color:rgba(0,0,0,0.2);padding:8px;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius:5px;	}
#RODAPE { padding:10px;clear:both;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius:5px;	}
li {list-style: none;}
.fl { float:left; }
.fr { float:right }
.both { clear:both }
.tam { width:964px; }
.trcontrole1{background-color:rgba(0,0,0,0.2);height:20px;border:1px solid rgba(0,0,0,0.2);text-align:left;}
.tdcontrole1{text-align:center;padding-left:5px;padding-right:5px;}
.loader { width:1004px;margin:0 auto; }
.menu-up { padding-right:30px;float:left;	font-size:14px;margin-top:-2px; }
.image-up { margin-top:-10px;margin-right:15px;float:left; }
.image-signin { margin-right:8px;margin-top:3px; }
.linha-usuario { margin-top:5px; }
.imganotacao{float:left;margin-left:-5px;margin-top:-3px;margin-right:8px;}
.textareaanotacao { display:none;padding:5px;background-color:rgba(0,0,0,0.1);border:1px solid rgba(0,0,0,0.1);color:#FFF;width:674px;font-size:12px;letter-spacing: 1px;line-height:1.5;}
.panotacao{margin-bottom:2px;padding:10px;width:662px;border:1px solid rgba(0,0,0,0.2);background-color:rgba(0,0,0,0.1);letter-spacing:3px;color:#FFF;font-weight:bold;}
.p-rodape { margin-right:0px;margin-bottom:40px; }
.menu-right { margin-bottom:10px;background-color:rgba(0,0,0,0.2);width:132px;float:right;padding:10px;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius:5px; }
.li-right { padding-bottom:2px; }
.ul-right { float:right; }
.TitleRel { width:500px;border:1px solid rgba(0,0,0,0.3);background-color:#26251F;color:#FFF;font-family:'Courier New';font-size: 14px;padding:10px;margin:0px 0px 10px 0px;text-align:left; }
.TitleRel:hover { background-color:gold;color:green; }
.formInputStats { width:45px;border:1px solid rgba(0,0,0,0.3);background-color:#26251F;color:#FFF;font-size: 11px;padding:5px;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;text-align:center;font-weight: 300;font-family: "Open Sans","Arial","Fira mono";letter-spacing: 1px; }
.formLabelStats { margin-top:0px;margin-bottom:0px;margin-right:5px;margin-left:0px;font-size:11px;text-align:right;width:198px;border:1px solid rgba(0,0,0,0.3);background-color:#26251F;padding:5px;font-weight: 300;font-family: "Open Sans","Arial","Fira mono";letter-spacing: 1px; }
.formLabelStats:hover { background-color:#904141;color:#FFF; }
.JS-Autorizadas { clear:both;min-height:100px;padding:10px 10px 10px 10px; }
.JS-Fornecedores { clear:both;min-height:100px;padding:10px 10px 10px 10px; }
.JS-Fabricantes { clear:both;min-height:100px;padding:10px 10px 10px 10px; }
.JS-Assistencias { clear:both;min-height:100px;padding:10px 10px 10px 10px; }
.JS-Clientes { clear:both;min-height:100px;padding:10px 10px 10px 10px; }
.assistance { float:left;margin-top:-2px;width:814px; }
.title-assistance { font-size:11px;margin-left:2px;margin-top:10px;margin-bottom:5px; }
.li-left { text-align:center;padding:2px; }
.defaultTR { cursor:default;background-color:#2A2A2A;color:#F8C18B !important;height:35px;border:0px;padding:0px; }
.JS-DivLEFT { clear:both;min-height:100px;padding:10px 10px 10px 10px; }
.menuDivSession { padding:0px 0px 0px 0px;float:left;margin-left:0px;margin-top:-13px;margin-bottom:10px;width:982px;border-left:1px solid rgba(0, 0, 0,0.1);border-right:1px solid rgba(255, 255, 255,0.1);border-bottom:1px solid rgba(255, 255, 255,0.1);background-color:rgba(0, 0, 0,0.1);-moz-border-radius:0px 0px 0px 0px;-webkit-border-radius:0px 0px 0px 0px;border-radius:0px 0px 0px 0px; }
.JS-SessaoRIGHT { width:144px;float:right;padding-top:10px;padding-bottom:10px; }
.JS-SessaoLEFT { float:left;width:838px;height:100%; }
.lisessao { width:130px;height:20px;background-color:rgba(0,0,0,0.3);margin-right:0px;margin-left:-3px;margin-bottom:2px;margin-top:0px;padding-left:5px;padding-top:5px;font-size:12px;letter-spacing:1px;text-transform: uppercase;cursor:pointer; }
.lisessao:hover { background-color:#9B3949;color:rgba(255, 255, 255, 0.8); }
.lisessao a:hover {background-color:#9B3949;color:rgba(255, 255, 255, 0.8);}
.subp-rel {color:#FFF;margin-left:10px;font-size:12px;margin-bottom:15px;}
.menu:hover { background-color:gold;color:blue;font-weight:bold; }
.menu { height:20px;width:60px;font-size:12px;margin-top:-4px;margin-left:0px;margin-right:-30px;background-color:rgba(0,0,0,0);text-align:center;padding-top:3px; }
.formButtonMENU:hover { background-color:gold;color:blue; }
.formButtonMENU { float:right;font-size:12px;margin-top:-5px;margin-left:5px;background-color:#9B3949;border:1px solid rgba(0,0,0,0.2);color:rgba(255, 255, 255, 0.8);-moz-border-radius: 0px;-webkit-border-radius: 0px; border-radius:0px;letter-spacing:1px; }
.HospedagemDiv { margin:2px;width:390px;height:100px;padding:5px;border:1px solid rgba(255, 255, 255,0.2);background-color:rgba(0,0,0,0.2);float:left;font-size:11px; }
.controle-add { margin-top:0px;margin-bottom:0px;font-weight:bold;font-size:12px; }
.formTitlePanel { clear:both;margin-top:0px;margin-bottom:10px;font-size:13px; }
.formInputPanel { height:18px;width:100%;border:1px solid rgba(0,0,0,0.3);background-color:#26251F;color:#FFF;font-size: 11px;padding-top:0px;padding-bottom:0px;padding-left:2px;padding-right:2px;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px; }
.formLabelPanel { margin-top:2px;margin-bottom:0px;margin-right:10px;margin-left:0px;font-size:11px; }
.formSelectPanel { border:1px solid rgba(0,0,0,0.3);background-color:rgba(54,100,139,1);color:#FFF;width: 135px;padding-top: 0px;padding-bottom: 0px;padding-left: 2px;padding-right: 2px;font-size: 12px;height: 20px;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:10px;-moz-appearance:none;-webkit-appearance: none; }
.formButtonEnviarPanel { width:75px;height:20px;font-size:11px;margin-right:0px;-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius:0px;margin-left:10px;padding-left:2px;padding-right:2px; }
.JS-Panel { min-height:25px;padding:10px 10px 10px 10px; }
.JS-Novo { clear:both;background-color:rgba(0,0,0,0.3);min-height:100px;padding:10px 10px 10px 10px;margin-bottom:10px;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius:5px; }
.tablenovo { height:22px;text-align:left;margin:0px;border:0px;font-size:13px;width:700px; }
.tablenovo-defeito { text-align:left;margin-left:0px; }
.novo_formInput { height:22px;width:100%;border:1px solid rgba(0,0,0,0.3);background-color:#26251F;color:#C3FF00;font-size: 12px;padding-left:2px;padding-right:2px;margin:0px; }
.novo_formInputDATE { height:22px;width:94%;border:1px solid rgba(0,0,0,0.3);background-color:#26251F;color:#C3FF00;font-size: 12px;padding-left:2px;padding-right:2px;margin:0px;text-align:center; }
.novo_formInputSmall { height:22px;width:94%;border:1px solid rgba(0,0,0,0.3);background-color:#26251F;color:#C3FF00;font-size: 12px;padding-left:2px;padding-right:2px;margin:0px;text-align:left; }
.formSelectempresa { height:24px;border:1px solid rgba(0,0,0,0.3);background-color:rgba(54,100,139,1);color:#FFF;width: 135px;padding-top: 0px;padding-bottom: 0px;padding-left: 2px;padding-right: 2px;font-size: 12px;margin:0px;-moz-appearance:none;-webkit-appearance: none; }
.formButtonEnviarNovo { height:30px;width:75px;font-size:11px;margin-right:0px;-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius:0px; }
.TDD_DATA {font-size:12px;font-family:'Fira mono','Open Sans','Arial';color:#B9B4B0 !important;}
.JS-Localizar { clear:both;background-color:rgba(0,0,0,0.3);min-height:25px;padding:10px 10px 10px 10px;margin-bottom:10px;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius:5px; }
.JSformLocalizarSelect { margin-left:15px;padding-top:2px;padding-bottom:2px;padding-left:2px;padding-right:2px;height:52px;font-size:12px;text-align:center; }
.JSformLocalizarInput { border:1px solid rgba(0,0,0,0.3);background-color:#26251F;
	color:#FFF;padding-top:0px;padding-bottom:0px;padding-left:2px;padding-right:2px;font-size:11px;margin-left:2px;width:150px;
	width: 422px;
font-family: "Fira mono","Open Sans","Arial";
letter-spacing: 1px;
font-size: 12px;
height: 30px;
font-size: 18px !important;
padding: 10px;}
.JSformLocalizarButton { height:52px;width:100px;padding-top:0px;padding-bottom:0px;padding-left:2px;padding-right:2px;margin-left:15px;-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius:0px;font-size:14px;letter-spacing:1px;background-color:#106D78; }
.JStitle-icone { margin-top:0px;margin-left:0px;padding-right:10px; }
.formSelectViewValue { height:22px;font-size:13px;font-family:"Open Sans","Fira mono","Arial";width:100%;background-color:rgba(0,0,0,0.7);padding:2px;color:#FFF;border:0px; }
.formSelectView { height:22px;font-size:13px;font-family:"Open Sans","Fira mono","Arial"; width:100%;background-color:rgba(0,0,0,0);padding:0px;color:#FFF;border:0px; }
.estatisticas { width:884px;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius:5px;background-color:rgba(0,0,0,0.3);padding: 0px 10px 10px 10px;margin-bottom:10px;min-height:50px; }
.formTRDetailD { text-align:left;background-color:rgba(0,0,0,0.3);height:14px;border:0px;padding:0px;margin:0px; }
.formTRDetailD td { background-color:#222;padding:5px; }
.Tabelinha-TDD { text-align:center;height:22px;color:#FFF; }
.Tabelinha-Table { background-color: #363333;border:0px;padding:0px;width:100%;font-size:12px; }
.formInputViewDEST { border:0px;font-size:11px;width:97%;text-align:center;height:14px;background-color:#26251F;color:#FFF; }
.TDD_NF { color:#B9B4B0;padding-left:2px;padding-right:4px;border:0px;font-size:12px; text-align:center;margin-left:-1px;height:22px;width:99%;background-color:#3A3838; }
.TRD { background-color:#201F1F;background-color:#2D2B2B;height:30px;font-size:12px;border:0px;padding:0px;margin:0px;font-weight:normal;letter-spacing: 2px;color:#C89F92; }
.TRD th {font-weight:normal;}
.TDD_DEFEITO { color:#B9B4B0;background-color:#222;width:180px;padding:2px;border:0px;width:99%;font-size:13px;letter-spacing:1px; }
.TDD_TAPOLITICA {color:#B9B4B0;background-color:#222;width: 99%;font-family:"Fira mono","Arial" !important;}
.TDD_TAOBSERVACAO {color:#B9B4B0;background-color:#222;width: 99%;font-family: "Arial" !important;}
.TableListarFPEF-TR { background-color:#2A2A2A;height:35px;color:#F8C18B !important;border:0px;padding:0px; }
.TableListarFPEF-TR:hover { background-color:#2A2A2A; }
.novoIconTitleTop { margin-top:0px;margin-left:0px; }
.helpIconTitleTop { margin-top:0px;margin-left:0px; }
.formSignUpLabel { color:#000;font-size:12px;margin-top:-2px; }
.formSignInLabel { color:#363636;font-size:12px;margin-top:-2px; }
.alertaIndexMSG { background-color:#cd5c5c;margin:0 auto;width:100%;font-family:"Fira mono","Tahoma","Arial";font-size:12px;color:white;font-weight:normal;padding:10px;border-bottom:1px solid rgba(0,0,0,0.6);text-align:left; }
.formSelectSession { border:1px solid rgba(0,0,0,0.3);background-color:rgba(54,100,139,1);color:#FFF;width: 100%;padding-top: 4px;padding-bottom: 0px;padding-left: 2px;padding-right: 2px;font-size: 12px;height: 26px;margin:0px;-moz-appearance:none;-webkit-appearance: none; }
.p-usuarioPanel { margin-top:5px;font-size:14px;margin-right:15px; }
.usuarioButtonDel { margin-top:2px;margin-left:10px; }
.usuarioInputDel { width:570px; }
.p-assistenciaPanel { margin-top:5px;font-size:14px;margin-right:15px; }
.assistenciaButtonDel { margin-top:2px;margin-left:10px;width:84px; }
.assistenciaButtonAdd { margin-top:2px;margin-left:10px; }
.p-blistAddPanel { margin-top:5px;font-size:14px;margin-right:15px; }
.blistAddButton { margin-top:2px;margin-left:10px; }
.blistAddInput { width:558px; }
.p-numero_rmaPanel { margin-top:5px;font-size:14px;margin-right:10px; }
.numero_rmaButtonDel { margin-top:2px;margin-left:10px; }
.numero_rmaInputDel { width:570px; }
.title { margin-top:-5px;margin-bottom:10px;margin-left:5px;padding-top:10px;font-size:14px;font-weight:bold; }
.title-comicone { margin-top:20px;margin-left:15px;font-size:14px; }
.formButtonSIGNOUT:hover { background-color:gold;color:blue; }
.formButtonSIGNOUT { float:right;font-size:12px;margin-top:-5px;margin-left:5px;background-color:#9B3949;border:1px solid rgba(0,0,0,0.3);color:rgba(255, 255, 255, 0.8);-moz-border-radius: 0px;-webkit-border-radius: 0px; border-radius:0px;letter-spacing:1px; }
.textarea-obs { width:465px;height:75px;margin-left:15px;padding:5px; }
.p-observacao { margin-left:5px; }
.formLocalizarSelect { margin-left:15px;padding:5px;height:34px;font-size:14px; }
.formLocalizarInput { height:24px;width:180px;border:1px solid rgba(0,0,0,0.3);background-color:#26251F;color:#FFF;padding-left:2px;padding-right:2px;font-size:14px;margin-left:2px;padding:5px;width:390px; }
.formLocalizarButton { height:34px;width:100px;padding:5px;margin-left:15px; }
.formButtonAssistenciaAdd { width:150px;height:35px;padding:5px; }
.TRDetalhesTitle th { padding:0px; }
.Tabelinha-TR1 { text-align:left;background-color:#3F3F3F;height:30px;font-size:11px;text-transform: uppercase; }
.Tabelinha-TR1:hover { background-color:#904141; }
.Tabelinha-TR2 { text-align:left;background-color:#3B3B3E;height:30px;font-size:11px;text-transform: uppercase; }
.Tabelinha-TR2:hover { background-color:#904141; }
.Tabelinha-TR3 { text-align:left;background-color:#232320;height:30px;font-size:11px;text-transform: uppercase; }
.Tabelinha-TR3:hover { background-color:#904141; }
.Tabelinha-TD { text-align:center;height:22px;padding-left:0px;font-size:11px;letter-spacing:1px;text-transform:uppercase; }
.inputFormOBS {padding:5px;border:0px;font-size:13px;width:99%;margin-left:1px;color:#FFF; }
.novo_defeito { background-color: #26251F;border: 0px;height:22px;width:99%;margin-left:1px;padding-top: 0px;padding-bottom: 0px;padding-left: 2px;padding-right: 2px;color:#C3FF00;font-size:13px; }
.formInputObservacao { background-color: #26251F;border: 0px;height:22px;width:99%;margin-left:1px;padding-top: 0px;padding-bottom: 0px;padding-left: 2px;padding-right: 2px;color:#FFF;font-size:13px; }
.inputForm { height:24px;width:180px;border:1px solid rgba(0,0,0,0.3);font-size:13px;background-color:#26251F;padding:2px;color:#FFF;letter-spacing: 1px; }
.formInputSignInLinha { border:1px solid rgba(0,0,0,0.3);color:#FFF;width:150px;margin-right:5px;background-color:rgba(0,0,0,0.3);padding-left:5px;padding-right:5px;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius:5px;	height:20px; }
.SignInCenterForm { margin:0 auto;width:240px;border:1px solid rgba(0,0,0,0.1);margin-top:50px;padding:20px;box-shadow: 2px 2px 5px #000;color:#363636;background-color:#FFF; }
.form { padding:0px;font-family:Verdana;font-size:12px; }
.formInputSignInAutomatico { border:1px solid #838b8b;padding:5px;width:236px;color:#FFF;height:50px;font-size:18px; }
.formInputSignIn { width:170px;border:1px solid #838b8b;padding:5px;font-size:12px;color:#363636; }

.formButtonSignInHome { text-transform:uppercase;letter-spacing:1px;border:1px solid gray;padding:5px;padding-top:6px;width:30%;height:30px;margin-right:0px;margin-top:0px;background-color:#838b83;color:white;font-weight:bold;font-size:12px;-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius:0px; }
.SignUpCenterForm { margin:0 auto;width:240px;border:1px solid rgba(0,0,0,0.1);margin-top:50px;padding:20px;box-shadow: 2px 2px 5px #000;color:#363636;background-color:#FFF; }
.formInputSignUp { height:24px;width:180px;border:1px solid #838b8b;font-size:12px;color:#363636;padding-left:5px;padding-right:5px; }
.formButtonSignUpHome { border:1px solid gray;padding:5px;width:100px;height:30px;margin-right:0px;margin-top:5px;background-color:#838b83;color:white;font-weight:bold;font-size:12px;-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius:0px; }
.formSignUpTable { text-align:left;margin-left:0px;border:0px; }
::-webkit-input-placeholder { color: rgba(0,0,0,0.8); }:-moz-placeholder { color: rgba(0,0,0,0.8); }::-moz-placeholder { color: rgba(0,0,0,0.8); }:-ms-input-placeholder { color: rgba(0,0,0,0.8); }
.polinput {width: 100%;
padding-left: 10px;
font-weight: normal;
height: 30px;
text-transform: uppercase;
background-color: #184221;
font-size: 12px;
letter-spacing: 2px;}
.observacaoinput {width:100%;padding-left:10px;font-weight:bold;height:30px;background-color:#8F0D31;}


.active { color:gold !important;font-weight:bold; }
