@import url(http://fonts.googleapis.com/css?family=Fira+Mono:400,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,300italic,400italic,500,500italic,700,700italic&subset=latin,cyrillic,latin-ext,cyrillic-ext,greek);

body {
margin: 0 auto;
 padding:0px;
 background-color: #262626; /* 272822 353839 262626 151515 2F2F2F */
 background-repeat: repeat;
 font-weight:300;
}
a:link{
text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
font-weight:300;
}
hr {
  border-top:1px solid rgba(255,255,255,0.1);
}
.importante {
  background-color:rgba(95, 80, 80, 0.3);
}
.nemfornecedornemfabricante {
  color:#AE8585;padding:20px !important;padding-top:5px !important;background-color:rgba(0,0,0,0.1);border:1px solid rgba(0,0,0,0.1);
}
.formSubmit {
  border-radius:0px !important;
  width:88px !important;
  height:30px !important;
  padding:0px !important;
  margin-right:10px !important;
  background-color:#224A5D !important;
}
.formSelect2 {
  background-color:#224A5D !important;
  width:200px !important;
}
.formSelect3 {
  background-color:#224A5D !important;
  width:130px !important;
  height:25px !important;
  padding:5px !important;
}



.hrup {
margin-top:0px;
margin-left:-20px;
background-image:url('../images/divider.png') !important;
background-repeat:no-repeat;
height:13px;
clear:both;
border-top:0px solid #AB4016;
}
.container, .container-fluid {

/*box-shadow: 1px 1px 10px rgba(255,255,255,0.5);
*/}
.row {

	border:0px;
  margin:0px;

}
[class*="col-"], header, footer, nav, aside, section, div[role="main"] {

 padding-top: 7px;

 padding-bottom: 15px;

 text-align: center;

}
div[role="main"] {

}
div[role="main"], nav, aside {

 min-height: 200px;

}


.buttonSearch {
  background-color: #333 !important;
  color: #E1DEAC !important;
color: #E1DEAC;border: 1px solid #3F3D3D !important;
}
.buttonSearch:hover {background-color: #185A78 !important;
color: #E1DEAC !important;
border: 1px solid #757575 !important;
}
.relatoriobox {
padding:5px;
width:240px;
text-transform:uppercase;
float:left;
margin:5px;
min-height:350px;
}
.relatoriobox:hover {
background-color:rgba(0,0,0,0.1);
   }
.TITULOREL {

text-align:center;
height:45px;
color:#FFF;
padding:13px;
font-size:14px;
margin-bottom:5px;
}
/* ALTERADO */
.linhasuperior {
background-color:#FFF;
}
.alert-success {
  color: #FFF;
  background-color: #2C8C5D;
  border-color: #40A573;
  border-radius: 0px;
}
.nav {
color:#FFF;

}
.nav a {
color:#FFF;

}
.nav-tabs {
border-bottom: 0px solid #FFF;
 }
.nav-tabs ul {
border:0px;
 margin:0px;
 padding:0px;
}
.nav-tabs li {
border:0px;
padding:0px;
position: relative;
text-align: center;
font-weight: 300;
font-size: 14px;
display: block;
margin: 0px;
border-right-width: 0px;
}

.nav-tabs li:hover {
border:0px;
 }

header {
  padding:0px;
height: 40px;
z-index: 999;
position: fixed;
width:100%;
top: -3px;
background-color:#C20F41;
border-bottom:1px solid #333 !important;
}
.nav-tabs li a {
margin:0px;
 border:0px;
 border-radius: 0px;
 color: #FFF;
 height:39px;
}
.nav-tabs li a:active {
border:0px;
background-color: #F67D7D;
}
.nav-tabs li a:hover {
 background-color: #F67D7D;
}
.nav-tabs li a:focus {
 background-color: #F67D7D;
}

.nav-tabs .active {
}
/* FONTE */
.tab-content {
margin: 0px -15px;
margin-top:40px;
min-height: 450px;
color: #FFF;
padding: 0px;
border: 0px solid #505050 !important;
border-top:0px;
}
.box-content {
	background-color: #FFF;
 border:0px;
 border-bottom:1px solid #2A2A2A;
 min-height:200px;
 margin:0px;
 padding:15px;
}
.blocos {
background-color:#FFF;
 padding:0px;
}
.sliderfoundation {
min-height:100px;
border-bottom: 1px solid rgb(161, 243, 194);
}
.sliderfoundation li {
 list-style: none;
 }
.jumbotron {
background-color: #353839;
 border-bottom: 5px solid #7AD4A7;
 border-top: 1px solid #96E3AF;
 padding:15px;
 color: #FFF;
 border-radius: 0px !important;

}

/* PORTFOLIO */
h3 {
padding:0px;
 margin:15px;
}
footer {

	text-transform: uppercase;

	min-height:100px;


	padding:15px;

opacity: 0.98;

color:#FFF;

font-family: arial;
background-color: rgba(0,0,0,0);
font-size: 11px;
 }
footer a {
color:#FFF;
}
footer a:viwwwd{
color:#FFF;
}
footer a:hover {
color:#EEE;
}
.copyright {
text-align:left;
font-size: 11px;
margin-top:15px;
}
.subpage-image {
margin-top:5px;
}
.submenu-subpage {
margin-top:-5px;
text-align:right;
background-color:rgba(0,0,0,0);
}
.boxtop-subpage {
  padding:0px !important;
 margin-bottom: 0px !important;
 font-family: "Roboto",sans-serif;
 line-height: 1.3em;
 color: #FFF;
}
.boxtop-subpage h3 {

 line-height: 1.3em;
 font-weight: normal;
 text-align: left;
 font-weight: 700;
 letter-spacing:2px;
 font-size: 12px;
 margin:0px;
 margin-bottom:10px;
 margin-left:1px;
}
.box-subpage {
text-align:left;
 font-weight: 300;
 letter-spacing: 1px;
}
.fl {
float:left;
}
.fr {
float:right;
}
.p-bloco {

 line-height: 18px;
 letter-spacing: 0px;
 font-size: 12px;
}



.portfolio-p {
text-align:left;
 margin:0px;
 padding:0px;

    margin-left:0px;
 margin-right:0px;
 border:0px;
 padding:15px;
 border-bottom:0px;
 border-top: 3px solid #FFF7E9;
 border-bottom: 1px solid #E0EEF9;
 font-size:18px;
 letter-spacing: 1px;
 color: #414040;
}
.servicos-p {
text-align:left;
 margin:0px;
 padding:0px;

    margin-left:0px;
 margin-right:0px;
 border:0px;
 padding:5px 5px;
 border-bottom:0px;
 border-top: 5px solid #75B3E4;
 border-bottom: 1px solid #E0EEF9;
 font-size:14px;
 letter-spacing: 1px;
 color: #414040;
}
.servicos-thumbnail {
margin:0 auto;
 width:200px;
 height:120px;
 text-align:center;
 float:center;
}
.equipe-p {
text-align:left;
 margin:0px;
 padding:0px;

    margin-left:0px;
 margin-right:0px;
 border:0px;
 padding:5px 5px;
 border-bottom:0px;
 border-top: 5px solid #75B3E4;
 border-bottom: 1px solid #E0EEF9;
 font-size:18px;
 letter-spacing: 1px;
 color: #414040;
 font-weight: 300;
 padding:15px 0px;
}
.borda-verde {
border-top: 4px solid #70E9A9;
}
.borda-azul {
border-top: 4px solid #75B3E4;
}
.borda-vermelha {
border-top: 4px solid #F98D7B;
}
.equipe-box {
 margin:0 auto;
 margin:5px 0px 25px 0px;
 min-height:100px;
 text-align:left;
}
.equipe-box p {

font-weight: 300;
 padding:0px;
}
.servicos-box {
margin:0 auto;
 border:1px solid #D1D1D1;
 padding:15px;
 margin:5px 0px 25px 0px;
 background-image: url("../images/bgf.png");
 min-height:240px;
}
.servicos-box:hover {

background-image:none;
 background-color:#EEE;
}
.portfolio-thumbnail {
margin:0 auto;
 width:110px;
 height:110px;
 border: 1px solid rgba(198, 209, 213, 0.99);
 box-shadow: 1px 1px 5px #888;
 text-align:center;
 float:center;
 margin:-10px;
 border-radius:150px;
}
.portfolio-url {
padding:5px;
 padding-top:15px;
 font-size: 12px;
 color: #414040;
}
.portfolio-thumbnail:active {

border: 5px solid rgba(198, 209, 213, 0.99);
}
.portfolio-box {
margin:0 auto;
 border:1px solid #D1D1D1;
 padding:15px;
 margin:5px 0px 25px 0px;
 background-image: url("../images/bgf.png");
}


/* NOVO FIR 2.0 */


.formNovo {
  background-color:rgba(0,0,0,0);padding:15px 0px;margin:-20px 0px;
}

/* TR DA TABELA 								*
 * -------------------------------------------- */
tr:hover{
  background-color:#904141;
}
/* -------------------------------------------- */

.anotacao {
  background-color: #2C2B29;
  font-weight: 500;
  border: 0px;
  color:#EEE;
  letter-spacing: 1px;
  font-size:12px;
  width:100%;

    resize: none; /* impede que o próprio usuário altere o tamanho do textarea */
    overflow-y: auto !important;
}

.loader {
width:900px;
margin:15px auto;
 }
 .iniciocolor {
   background-color:rgba(0,0,0,0.1) !important;
 }
.iniciocolor:hover {
background-color:#F67D7D !important;
 }
.iniciocolor .active {
background-color:#FFF !important;
 }
.menucolor:hover {
background-color:#1976D1 !important;
 }
.lidropdown{
text-transform:uppercase !important;
text-align:left !important;
background-color:#555 !important;
border-bottom:1px solid #323131 !important;
font-size:12px !important;
padding:3px 5px !important;
margin:0px !important;
height:25px !important;
letter-spacing: 1px !important;
}

.lidropdown:hover{
background-color:#111 !important;
 }
.bg38C {
background-color:#3F3F3F !important;
 }
.bg38C:hover{
background-color:#F67D7D !important;
 }
.menuz {
background-color:#444 !important;
}


.menuLogout {
background-color:#075D93 !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border:0px !important;
  background-color:#FE0048;
  color:#EEE !important;
  font-weight:400;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
background-color:#006892;
}

.alert {
margin-top: -21px;
}
/* P�gina de rma */
.Danfe {
  font-weight:normal;
}
.formLabelNF {
  width:50%;
  text-align:center;
  font-weight:normal;
  float:left;
  font-weight: 400;
  font-size: 13px !important;
}
.formLabel {
  float:left;
  font-weight: 400;
  font-size: 13px !important;
}
.formgroupnf {
  padding:15px 0px;
background-color: #272822;
margin: -20px 0px 0px 0px;

}
.formlabeldefeito {
  color: #BC9F7B;
  float:left;
  font-size: 12px;
  font-weight:normal;
  color:#FFFCFC;
  margin:10px;
}
.forminputdefeito {
  color: #F9C58B;
  border: 1px solid #B2C3EA;
  border-radius: 0px;
  height: 30px;
  font-size: 14px;
  padding: 5px;
  clear:both;
  border: 0px solid #E9E9E9;
  background-color: rgba(0, 0, 0, 0.1);
  font-size:12px;
}
.formInputTextArea {
  border: 1px solid #B2C3EA;
  border-radius: 0px;
  height: 30px;
  padding: 5px;
  clear:both;
  border:1px solid #3F3D3D;
  border-left:0px;
  border-right:0px;
  background-color: rgba(0, 0, 0, 0.1);
  color:#F8CAA9;
  font-size:12px;
}
.formLabelTextArea {
color:#FFFCFC;
float:right;
margin-top:15px;
}
.Label1 {
  color: #EEE;
  font-size: 12px;
  font-weight:normal;
  margin:5px;
  float:left;
  letter-spacing: 1px;

}
.Label2 {
  cursor:default;
  background-color: rgba(111, 89, 89, 0.1);
  color: #C89F92;
  font-size: 12px;
  font-weight:normal;
  border: 1px solid #3E3B3A !important;
  border-radius:0px;
  height:30px;
  padding: 5px;
  letter-spacing: 1px;
  width:100%;
  margin-bottom:0px;
  border-bottom:0px !important;
}
.Input1 {
  background-color: rgba(0, 0, 0, 0.1);
  color: #F8D6C1;
  font-size: 12px;
  font-weight:normal;
  border: 1px solid #3E3B3A !important;
  border-radius:0px;
  height:30px;
  padding: 5px;
}

.Input2 {
  background-color: rgba(0, 0, 0, 0.1);
  color:#F8D6C1;
  font-size:12px !important;
  border: 1px solid #3E3B3A !important;
  border-radius: 0px;
  height: 30px;
  padding: 5px;
}

.Input3 {
  background-color: #3E3B3A;
  color: #F5B9F9;
  font-size: 12px;
  font-weight: normal;
  border: 1px solid #423731 !important;
  border-radius: 0px;
  height: 30px;
  padding: 5px;
  letter-spacing: 1px;
}

textarea:disabled {
  border-radius: 0px;
  padding: 5px;
  clear:both;
  height:100% !important;
  border:1px solid #3F3D3D !important;
  border-left:0px !important;
  border-right:0px !important;
  font-size:12px !important;
  background-color: rgba(111, 89, 89, 0.1);
  color: #C89F92;
  cursor:default !important;
}

.politicadegarantiaInfo, .politicadegarantiaInfo:disabled {
  border: 1px solid #B2C3EA !important;
  border-radius: 0px;
  padding: 5px;
  clear:both;
  height:100% !important;
  border:1px solid #3F3D3D !important;
  border-left:0px !important;
  border-right:0px !important;
  background-color: rgba(111, 89, 89, 0.1);
  color: #C89F92;
  font-size:12px !important;
  cursor:default !important;
}
.Input4, .Input4:disabled {
  cursor:default;
  background-color: rgba(111, 89, 89, 0.1);
  color: #C89F92;
  font-size: 12px;
  font-weight:normal;
  border: 1px solid #3E3B3A !important;
  border-radius:0px;
  height:30px;
  padding: 5px;
  letter-spacing: 1px;
}
.Input4:hover  {
  color: #77B986;
}

.Select1 {
  background-color:rgba(96, 81, 84, 0.4) !important;
}

.cb { clear:both; }

.formInput::-moz-placeholder {
color: #EEE;
}

.formInput::-webkit-input-placeholder{
color: #EEE;
}

.formInputTextArea::-moz-placeholder {
color: #EEE;
}

.formInputTextArea::-webkit-input-placeholder{
color: #EEE;
}

.formInputFL {


border-radius: 0px;

height: 30px;

font-size: 14px;

padding: 5px;

float:left;
border:0px;
color:#FFF;
background-color:rgba(0, 0, 0, 0.1);

}
.formInputFR {


border-radius: 0px;

height: 30px;

font-size: 14px;

padding: 5px;

float:right;
border:0px;
color:#FFF;
background-color:rgba(0, 0, 0, 0.1);

}
.formSelect {
border: 0px solid #18354B;
border-radius: 0px;
height: 30px;
font-size: 12px;
padding: 0px;
	clear:both;
    background-color:rgba(0,0,0,0.3);
  color:#FFF;
  letter-spacing: 1px;
}
.formSelect option {
border: 0px solid #18354B;
font-size: 12px;
padding:5px;
  background-color:rgba(0,0,0,0.4);
  color:#FFF;
  letter-spacing:1px !important;
}
.formSelect .resolucao1 {
  padding:3px !important;background-color:rgba(0,0,0,0.1) !important;
}
.formSelect .resolucao2 {
  padding:3px !important;background-color:rgba(0,0,0,0.2) !important;
}

.form-group {
    margin-bottom: 10px;
}

.msg-ok {
margin-top:-10px;
border:0px solid #C3FFAC;
background-color: rgba(0,0,0,0);
color: #C57A62;
}

.btn-default {
color: rgba(255, 255, 255, 0.8);
border-radius: 0px;
border: 1px solid rgba(0, 0, 0, 0.2);
background-color: rgba(0, 0, 0, 0.1);
}

.btn-default:hover {
  color: #FFF !important;
  border-radius: 0px !important;
  color: rgba(255, 255, 255, 0.8) !important;
  border-radius: 0px !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  background-color: rgba(0, 0, 0, 0.1) !important;background-color:#224A5D !important;
}

.buttonSalvar {
  border-radius:0px;width:50px;height:25px;padding:0px;background-color:#224A5D;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.buttonSalvar:hover {
  border-radius:0px;width:50px;height:25px;padding:0px;background-color:#224A5D !important;
  	color: #FFF !important;
  border-radius: 0px !important;
  color: rgba(255, 255, 255, 0.8) !important;
  border-radius: 0px !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.upmenuright {
  text-align: center;
  color:#BABAB9;
  border: 1px solid #443E3D;
  background-color: #201F1F;
  padding: 6px 6px 7px;
  color: #E3E1DA;
  width: 195px;
  margin-left: 5px;
  float: left;
  margin-top: 46px;
  font-weight: 700;
  letter-spacing:3px;
}
.formInputSearch {
border-radius: 0px;
border: 1px solid #F9FCD5;
}
.formButtonCadastrar1 {
	float: right;
  margin-right:115px;
clear: both;
margin-top: 20px;

}
.formButtonCadastrar2 {
	float: right;
clear: both;
margin-top: 20px;
}
.InputSeek {
  border: 1px solid #3F3D3D !important;
  margin-left:-20px !important;
  background-color: rgb(45, 45, 45) !important;
  color:#FFF !important;
}
.logoutx a {
  background-color:rgba(0,0,0,0.1) !important;
}
.logoutx a:hover {background-color:#F67D7D !important;}
.logoutx a:active {background-color:#F67D7D !important;}
.LRTOP1 {
  text-align:left;padding:5px;font-size:12px;
  letter-spacing:1px;color:#E0D4D4;
  cursor:pointer;
  background-color:rgba(0,0,0,0.5);
  height: 28px;
  padding:6px 10px;
  color:#CCC;
  font-size:12px !important;
text-align: left;
letter-spacing: 1px;
cursor: pointer;
color: #CCC;
font-size: 12px !important;
margin-left: 0px;
padding-left: 5px;
}
.LRTOP1:hover {
  background-color:#904141;
}
.LRTOP2 {
  text-align:left;padding:5px;font-size:12px;
  letter-spacing:1px;color:#E0D4D4;
  cursor:pointer;
  background-color:rgba(0,0,0,0.4);
  height: 28px;
  padding:6px 10px;
  color:#CCC;
  font-size:12px !important;
text-align: left;
letter-spacing: 1px;
cursor: pointer;
color: #CCC;
font-size: 12px !important;
margin-left: 0px;
padding-left: 5px;
}
.LRTOP2:hover {
  background-color:#904141;
}

.LiRight1 {
    text-align:left;padding:5px;font-size:12px;
    background-color:rgba(0,0,0,0.2);
    letter-spacing:1px;color:#FFF;
}
.LiRight1:hover {
  background-color:#904141;
}
.LiRight2 {
  text-align:left;padding:5px;font-size:12px;
  background-color:rgba(0,0,0,0.1);
  letter-spacing:1px;color:#FFF;
}
.LiRight2:hover {
  background-color:#904141;
}

